body {
    background: url('../img/us/engage/23.jpg') no-repeat fixed;
    background-size: cover;
}

.rsvpText {
    color: white;
    position: relative;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

.firstNameDiv {
    padding: 5px 0;
}

.submitButton {

    margin-right: 5px;
}
.clearButton {
    float: right;
}

.returnButton {
    background: rgb(248, 12, 58);
    color: #999999;
    border-color: #999999;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    font-size: 18px;
    padding: 20px 40px;
    opacity: .8;
    float: left;
    position: absolute;
}