body {
    background: url('../img/us/engage/23.jpg') no-repeat fixed;
    background-size: cover;
}

.rsvpText {
    color: white;
    position: relative;
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

.firstNameDiv {
    padding: 5px 0;
}

.submitButton {

    margin-right: 5px;
}
.clearButton {
    float: right;
}